<?xml version="1.0" encoding="UTF-8"?>

<web-app>

	<servlet>
		<servlet-name>UserRegistration</servlet-name>
		<servlet-class>Register</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>UserRegistration</servlet-name>
		<url-pattern>/RegisterUser</url-pattern>
	</servlet-mapping>
	

    <welcome-file-list>
        <welcome-file>Home.html</welcome-file>       
    </welcome-file-list>
	
</web-app>
