body{scrollbar-face-color:#C0C0C0;scrollbar-highlight-color:#FFFFFF;scrollbar-shadow-color:#C0C0C0;scrollbar-3dlight-color:#808080;scrollbar-arrow-color:#003752;scrollbar-track-color:#C9C7C7;scrollbar-darkshadow-color:#98AAB1;}
body,td,p {font-family:Verdana,Arial,Helvetica,sans-serif;font-size:8pt;}
a:link,a:active,a:visited {color:#000000;}
a:hover{text-decoration:underline;color:#808080;}
hr{height:0px;border:solid #000000 0px;border-top-width:1px;}
H1,H2,H3{font-size:10pt;font-weight:bold;margin-bottom:6px;color:#404040;}}
H4{font-size:10pt;font-weight:bold;margin-bottom:6px;color:#363466}
form{margin:0;}
IMG{border:0;}
ul.menulevel1,ul.menulevel2,ul.menulevel3,ul.sitemaplevel1,ul.sitemaplevel2,ul.sitemaplevel3,ul.submenu,ul.search{
padding-left: 0;margin-left: 0;list-style: none;}
li{line-height:1.5;}
li.doc{padding-left: 12px;background-image: url(menu/doc.gif);background-repeat: no-repeat;}
li.docs{padding-left: 12px;background-image: url(menu/docs.gif);background-repeat: no-repeat;}
li.sdoc{padding-left: 12px;background-image: url(menu/sdoc.gif);background-repeat: no-repeat;}
li.sdocs{padding-left: 12px;background-image: url(menu/sdocs.gif);background-repeat: no-repeat;}
.sitename{font-weight:normal;font-size:20pt;letter-spacing:1px;}
.menulevel1,.menulevel2,.menulevel3,.locator,.navigator,.sitemaplevel1,.sitemaplevel2,.sitemaplevel3,.submenu{font-weight:bold;font-size:8pt;color:#808080;}
.menulevel1 a:link,.menulevel1 a:visited,.menulevel1 a:active,.menulevel1 a:hover,.menulevel2 a:link,.menulevel2 a:visited,.menulevel2 a:active,.menulevel2 a:hover,.menulevel3 a:link,.menulevel3 a:visited,.menulevel3 a:active,.menulevel3 a:hover,.locator a:link,.locator a:visited,.locator a:active,.locator a:hover,.navigator a:link,.navigator a:visited,.navigator a:active,.navigator a:hover,.sitemaplevel1 a:link,.sitemaplevel2 a:link,.sitemaplevel3 a:link,.sitemaplevel1 a:visited,.sitemaplevel2 a:visited,.sitemaplevel3 a:visited,
.sitemaplevel1 a:active,.sitemaplevel2 a:active,.sitemaplevel3 a:active,.sitemaplevel1 a:hover,.sitemaplevel2 a:hover,.sitemaplevel3 a:hover,.submenu a:link,.submenu a:visited,.submenu a:active,.submenu a:hover{text-decoration:none;}
.menu{font-weight:bold;font-size:8pt;color:#000000;}
.menu a{text-decoration:underline;font-weight:bold;}
.login,.login a,.login a:link,.login a:visited,.login a:active,.login a:hover{font-weight:normal;font-size:8pt;color:#000000;text-decoration:none;}
.search a{font-weight:normal;color:black;}
.search a:link,.search a:visited{color:black;}
.search a:active,.search a:hover{color:black;}
.edit{font-size:7pt;color:black;background-color:#E5E5E5;}
.edit a:link,.edit a:visited,.edit a:active,.edit a:hover{font-weight:normal;text-decoration:none;color:black;}
input,select{font-size:8pt;text-indent:2px;}
textarea{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:8pt;background-color:white;width:98%;}
.searchbox .text,.searchbox .submit{border:1px solid #575A8F;background-color:#CFDEED;}
.bodyline	{ background-color: #FFFFFF; border: 1px #98AAB1 solid; }
.cmsline	{ background-color: #FFFFFF; border: 2px #ffffff solid; }
.innerline	{ border: 2px #FFFFFF solid; }
.copyright {font-size:8px;color:#444444;letter-spacing: -1px;}
.copyright a,.copyright a:link,.copyright a:visited {color:#444444;text-decoration:none;}
.copyright a:hover,.copyright a:active {color:#000000;text-decoration:underline;}
