.fortune_monthyear{
text-align:center;
color:#f0f0f0;
font-weight: bold;
font-size: 8pt;
}
.fortune_monthyear a:link,.fortune_monthyear a:visited{
font-family: Verdana, Arial, Helvetica, sans-serif;
text-decoration: none;
text-align: center;
font-weight: bold;
font-size: 6pt;
font-style: normal;
color:#FF0000;
}
.fortune_daynames {
text-align:center;
color:#f0f0f0;
font-weight: bold;
font-size: 7pt;
}
.fortune_day{
text-align:center;
color:#c0c0c0;
font-size: 7pt;
}
.fortune_noday{
background:#000000;
}
.fortune_today{
vertical-align:middle;
text-align:center;
font-size: 7pt;
color:#ffffff;
border-width: 1px;
border-color: #FF9933;
border-style: solid;
}
.fortune_today a:link,.fortune_eventday a:visited{
font-family: Verdana, Arial, Helvetica, sans-serif;
text-decoration: none;
text-align: center;
font-weight: bold;
font-size: 7pt;
font-style: normal;
color:#FFFFFF;
}
.fortune_today a:active,.fortune_eventday a:hover{
font-family: Verdana, Arial, Helvetica, sans-serif;
text-decoration: none;
text-align: center;
font-weight: bold;
font-size: 7pt;
font-style: normal;
color:#FF9933;
}
.fortune_eventday a:link,.fortune_eventday a:visited{
font-family: Verdana, Arial, Helvetica, sans-serif;
text-decoration: none;
text-align: center;
font-weight: bold;
font-size: 7pt;
font-style: normal;
color:#FFFFFF;
}
.fortune_eventday a:active,.fortune_eventday a:hover{
font-family: Verdana, Arial, Helvetica, sans-serif;
text-decoration: none;
text-align: center;
font-weight: bold;
font-size: 7pt;
font-style: normal;
color:#FF9933;
}
.fortune_main{
text-align: center;
color:#f0f0f0;
background:#000000;
}
.event_monthyear{
text-align:center;
color:#000000;
font-weight: bold;
font-size: 10pt;
}
.event_heading{
text-align:left;
color:#FF0000;
font-weight: bold;
font-size: 10pt;
}
.event_data{
text-align:left;
color:#00FF00;
font-weight: normal;
font-size: 10pt;
}
