
body {
    font-family: Arial;
    max-width:550px;
}

.txt-heading {
    padding: 5px 10px;
    font-size: 1.1em;
    background: #E2E2E2;
    border-top: #CCC 2px solid;
    margin: 30px 0px 10px 0px;
}

#btnEmpty {
    font-size: 0.8em;
    float: right;
}

#btnEmpty img {
    vertical-align: middle;
}

.btnAddAction {
    background-color: #f0f0f0;
    border: none;
    vertical-align: middle;
}

.btnAddAction:focus {
    outline:none;
}

.product-item {
    background: #F0F0F0;
    margin: 5px;
    display: inline-block;
    padding:8px;
}

.product-image {
    height: 100px;
    width: 150px;
    background-color: #FFF;
    text-align: center;
    border: #e8e7e7 1px solid;
}

.product-info {
    margin: 10px 0px;
}

.product-price {
    color: #F08426;
}

.cart-action {
    cursor: pointer;
}

.tutorial-table {
    width: 100%;
    font-size: 0.9em;
    border-spacing: initial;
    margin: 20px 0px;
    word-break: break-word;
    table-layout: auto;
}

.tutorial-table th {
    background-color: #f5f5f5;
    padding: 5px;
    text-align: left;
}

.tutorial-table th.align-right {
    text-align: right;
}

.tutorial-table td {
    border-bottom: #f0f0f0 1px solid;
    background-color: #ffffff;
    padding: 5px;
}